canvas {
  float: right;
  margin-top: -700px;
  margin-right: 7px;
  background-image: url("./images/fieldOfZombies.jpg");
  width: 1200px;
  height: 900px;
}
label {
  color: darkred;
  font-size: 4em;
}
.game-logo {
  width: 300px;
  margin-left: 75px;
}
.body {
  background-color: rgb(149, 168, 154);
}
#start-button {
  margin-left: 75px;
}
p {
  margin-left: 75px;
}
.fff {
  margin-left: 75px;
  margin-top: 100px;
}
.blinking{
  animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: transparent; }
  50%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}
.upgrade-to-pro {
  font-size: 1.1em;
}